{% extends "layout/basic.html" %}
{% load static %}

{% block links %}

<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}


{% block content %}
<div class="excursions-container">
    <div class="container">
<h2>{{ city.name }}</h2>
<div style="background-image: url('{% static city.photo %}'); background-size: cover; background-repeat: no-repeat; width: 200px; height:100px"></div>
<p><b>Регион:</b> {{ city.region }}</p>  
<h3>Экскурсии</h3>

<ul class="excursions-list excursions-list-main rating-large" id="excursions-list">
    {% for excursion in excursions %}
    <li class="excursions-list-item">
        <a href="{% url 'excursion' excursion.0.id %}" class="excursions-item flex direction-column">
            <div class="flex excursions-head" style="background-image: url('{% static excursion.0.photo %}'); background-size: 100% 100%">

                <div class="w100">

                    <div class="left-pallet">
                        <span class="excursions-price">{{ excursion.0.price }}&euro; за человека</span>                          
                    </div>            
                </div>
            </div>

            <div class="flex j-c-space-between direction-column">
                <div class="excursions-title">
                    <span class="excursions-name">{{ excursion.0.name }}</span>
                    <span class="excursions-location">{{ excursion.0.city.name }}</span>
                </div>

                <div class="excursions-footer">
                    <div class="excursions-type c-yellow">{{ excursion.0.type }} экскурсия / {{ excursion.0.time }} ч</div>
             
    <div class="excursions-rate rating-large">
    <div class="rating-stars">
    <div class="rating-content">
        <div class="rating-stars-disabled">
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
        </div>
        <div class="rating-stars-active" style="width: {{ excursion.1 }}%">
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
            <div class="rating-star"></div>
        </div>
    </div>

            
    </div>                        
    
                        <span class="rating-count">
                            <span class="nowrap">({{ excursion.2 }} бронирований)</span>
                        </span>
                        
                    </div>
                    
                </div>

            </div>


        </a>
    </li>
    {% endfor %}

</ul>


<h3>Достопримечательности</h3>

<ul class="excursions-list excursions-list-main rating-large" id="excursions-list">
    {% for attraction in attractions %}
    <li class="excursions-list-item" style="height: 400px;">
        <a href="{% url 'attraction' attraction.id %}" class="excursions-item flex direction-column">
            <div class="flex excursions-head" style="background-image: url('{% static attraction.photo %}'); background-size: 100% 100%">
            </div>

            <div class="flex j-c-space-between direction-column">
                <div class="excursions-title">
                    <span class="excursions-name">{{ attraction.name }}</span>
                    <span class="excursions-location">{{ attraction.city.name }}</span>
                </div>
            </div>


        </a>
    </li>
    {% endfor %}

</ul>
{% endblock %}            
          
